@CHARSET "UTF-8";

#acesso {
	background: #008B8B;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 2);
	fonte-size: 16px;
	height: 160px;	
	margin: 100px auto 50px auto;
	position: relative;
	top: 5px;
	width: 300px;
}

#fundo {
	border-bottom: 5px ridge #ffffff;
	display: block;
	height: 300px;
	margin: 100px auto 100px auto;
	position: relative;
	width: 800px;
}

#esqueciSenha {
	background-color: #008B8B;
	border-color: #008B8B;
	color: #111111;
	font-size: 10pt;
	font-weight: bolder;
	height: 30px;
	margin-left: 15px;
	margin-right: 55px;
	padding: 5.5px 10px;
}

#esqueciSenha:hover {
	color: #ffffff;
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}

#esqueciSenha:active {
	background: #008B8B;
	color: #ffffff;
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}

#divSombra {
	background: #000000;
	display: block;
	float: none;
	height: 2000px;
	margin-top: -550px;
	margin-left: -250px;
	margin-bottom: -10px;
	margin-right: -400px;
	opacity: 0.4;
	position: fixed;
	visibility: hidden;
	width: 2000px;
}

#recuperacaoSenha {
	background: #ffffff;
	font-family: Arial;
	font-size: 11pt;
	margin: -400px auto auto 450px;
	padding: 10px;
	position: relative;
	visibility: hidden;
	width: 430px;
}