@CHARSET "UTF-8";

#divSombra {
	background: #000000;
	display: block;
	float: none;
	height: 2000px;
	margin-top: -70px;
	margin-left: -250px;
	margin-bottom: -10px;
	margin-right: -400px;
	opacity: 0.4;
	position: fixed;
	width: 2000px;
}

#divAlteracao {
	background: #ffffff;
	margin: auto auto 30px -22px;
	padding: 10px;
	position: absolute;
	width: 900px;
}