@CHARSET "UTF-8";

#principal {
	height: 620px;
}

#barra-lateral {
	height: 620px;
}

div.divBuscar {
	display: block;
	float: none;
}

.divBuscar input[type=radio] {
	border-radius: 500px;
	transition-delay: 4s;
	transition-duration: 0.3s;
	transition-property: background;
	transition-timing-function: linear;
}

.divBuscar input[type=radio]:active {
	box-shadow: 0px 0px 20px #15deee;
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}

form #fieldBusc {
	position: absolute;
}

#outraBusca, #totalBuscado {
	margin-left: 10px;
	position: absolute;
	visibility: hidden;
}

.balao {
	border: 2px ridge #6c6c6c;
	color: #black;
	display: inline-block;
	margin-bottom: 2px; 
	padding: 2px;
}

.balao:before {
	border-bottom: 10px solid transparent;
	border-right: 10px solid #6c6c6c;
	content: '';
	left: -10px;
	position: absolute;
	top: 0;
}

#btnBuscar {
	background-image: url('../_imagens/buscar.png');
	background-position: left;
	background-repeat: no-repeat;
	border-radius: 10px;
	text-align: right;
	height: 28px;
	width: 30px;
	transition-delay: 1s;
	transition-duration: 0.1s;
	transition-property: background;
	transition-timing-function: linear;
}

#btnBuscar:hover {
	background-position: center;
	box-shadow: 1px 1px 5px #000000;
	width: 50px;
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	-ms-transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

#form-reg {
	height: 78px;
	overflow: scroll;
	position: absolute;
	visibility: hidden;
	width: 869px;
}

#tabelaRegistros {
	background: #006666;
	border: 3px ridge #ffffff;
	font-size: 10pt;
	padding: 4px;
	visibility: hidden;
	width: 100%;
}

#tabelaRegistrosVisualizar {
	background: #006666;
	border-: 3px ridge #DE2800;
	font-size: 10pt;
	padding: 4px;
	width: 100%;
}

#tabelaRegistrosVisualizarBotoes {
	background: #ffffff;
    margin-right: -76px;
    padding-top: 3px;
    width: 97%;
}

#tabelaRegistrosVisualizarBotoes img {
	border: 1px ridge #000000;
    padding: 6px;
    margin-bottom: 5px;
}

.imgTabelaRegistro:hover {
	background: #e4e4e4;
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

#tabelaRegistros td:not(#vazioImg), #tabelaRegistrosVisualizar td:not(#vazioImg) {
	background: #ffffff;
	border: 3px ridge #ffffff;
	height: 10px;
}

#tabelaRegistros td:not(#vazioImg):hover, #tabelaRegistrosVisualizar td:not(#vazioImg):hover {
	background: #e4e4e4;
	border: 3px ridge #ffffff;
	transition-duration: s;
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

#tabelaRegistros th:not(#vazioImg), #tabelaRegistrosVisualizar th:not(#vazioImg) {
	background: #0a7689;
	border: 3px ridge #ffffff;
	height: 35px;
}

.colunaNomesProprios {
	text-align: left;
	width: 300px;
}

.colunaNumeros {
	text-align: center;
	width: 155px;
}

.colunaEndereco {
	text-align: center;
}

.colunaBotoes {
	text-align: center;
}

.colunaEmail {
	text-align: center;
}

#nenhumRegistro {
	font-family: Arial, sans-serif;
	font-size: 15pt;
	font-weight: bold;
	margin-left: 270px;
}

#trNenhumRegistro {
	display: none;
}

#divVisualizar {
	background: #004f4f;
	position: relative;
	margin: 9px 18px 0 8px;
	visibility: hidden;
}